body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url("https://img.freepik.com/free-photo/painting-mountain-lake-with-mountain-background_188544-9126.jpg");
    background-size: cover;
    background-position: center;
    /* background-color: aliceblue; */
}
input[type = "text"]{
    width: 1000px;
    font-size: large;
    /* height: 100px */
}
input[type="button"]{
    margin-bottom: 10px;;
    width: 100px;
    font-size: medium;
    /* height: 100px; */
}